.product-image { display: none !important; }
.weight { display: none !important; }
.price { display: none !important; }
.products .product a {
  pointer-events: none;
  cursor: default;
}
.header-primary .logo { width: 200px !important; }
