.product-image { display: none !important; }
.products .product a {  pointer-events: none;  cursor: default; }
@media (min-width: 768px) {
	.products .product {
		width: 50% !important;
	}
}
.weight { display: none !important; } 
/**  .price { display: none !important; } **/
