/**/ .product-image { display: none !important; }
.products .product a {  pointer-events: none;  cursor: default; } /**/
@media (min-width: 768px) { .products .product { width: 50% !important; } }
.weight { display: none !important; } 


.price { display: none !important; } /**/


.price {color: transparent;   text-shadow: 0px 0px 20px rgba(0,0,0,0.5);   }
.products .product .price { color: transparent !important; }
.footerX { text-align: right; }
h1 { font-family: 'Montserrat', sans-serif !important; }
.header-primary .navigation a { zoom: 1.25 !important; }
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.products .product:nth-child(1) a:before {
    position: absolute;
    font-family: Gill Sans MT;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    color: red;
    content: "— SOLD —";
    font-weight: bold;
    text-shadow: 0 0 0 transparent, 0 0 1px orange;
    font-size: 150%;
    left: 50%; top: 10%; }
.products .product:nth-child(1) { background-color: gold !important; } /** */
